services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: myflaskapp
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  webapp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask_apache_ssl
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    depends_on:
      - db
    environment:
      FLASK_ENV: production

volumes:
  mysql_data:

